@import url('https://fonts.googleapis.com/css?family=Tangerine:100,200,300,400,500,600,700|Lato:100,200,300,400,500,600,700|Roboto:500, 600, 700');

html {
    scroll-behavior: smooth;
}

header {
    position: relative;
    position: fixed;
    width: 100vw;
    height: 5vh;
    top: 0;
    background-color: #0f7e8f;
    color: #fff;
    display: flex;
    justify-content: right;
    align-items: center;    
    z-index: 1;
}

header div {
    padding-right: 3vw;
    
}

header div a {
    text-decoration: none;
    color: white;
    text-shadow: 1px 1px 4px gray;
}

header div a:hover {
    text-size-adjust: 2em;
    text-shadow: 2px 2px 8px gray;
}

/* brand visitguide logo */

.logo-img {
    margin: 0;
    width: auto;
    max-height: 15vh;
    object-fit: contain;
    position: absolute;
    position: fixed;
    z-index: 2;
    left: 5vw;
    top: 0;
    box-shadow: 0px 0px 5px #aaaaaa;
}

/* background hero image and scroll animation */

@-webkit-keyframes backgroundScroll {
    from {
        background-size: cover;
        background-position: left;
    }

    to {
        background-size: cover;
        background-position: right;
    }
}

@keyframes backgroundScroll {
    from {
        background-size: cover;
        background-position: left;
    }

    to {
        background-size: cover;
        background-position: right;
    }
}

.background-hero-img {
    width: 100vw;
    -webkit-animation: backgroundScroll 120s linear infinite;
    animation: backgroundScroll 120s linear infinite;
    left: 0;
    top: 5vh;
}

#view1 {
    height: 95vh;
    background: url("../images/view1.jpeg") no-repeat;
    position: absolute;
    position: sticky;
    z-index: -2;
}

#cafe {
    height: 100vh;
    background: url("../images/orangery-cafe1.jpg") no-repeat;
    background-attachment: fixed;
    position: relative;
    position: sticky;
    bottom: 0;
    z-index: -2
}

/* blank section as buffer before points of interest*/

.blank {
    width: 100vw;
    height: 100vh;
    margin: 0;
}

/* richmond hill main title */

.title {
    width: 100vw;
    height: 18vh;
    margin: 0;
    position: absolute;
    position: fixed;
    z-index: 1;
    top: 5vh;
    background-color: rgb(240, 248, 255, 0.5);
    display: flex;
    justify-content: center;
    align-items: center;
    padding-top: 3vh;
}

.title-text {
    font-family: tangerine, 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    font-size: 7vw;
    color: #fff;
    text-shadow: 2px 2px 4px #726a6a;
    margin: 0;
    text-align: center;
    
}

.title div a {
    text-decoration: none;
}

.title a:hover {
    text-decoration: none;
}

/* navigation bar and items */

nav {
    width: 100vw;
    max-height: 7vh;
    background-color: rgb(240, 248, 255, 0.8);
    position: relative;
    position: fixed;
    top: 23vh;
    z-index: 1;
    display: flex;
    justify-content: center;
    align-items: center;
    
}

.fa-solid {
    display: none;
}

nav h5 {
    margin: 0;
    font-size: 1.6vw;
    font-weight: 300;
    text-transform: uppercase;
    color: rgb(15, 126, 143, 0.8);
    padding: 5px 25px;
    text-align: center;
}


nav a:hover {
    text-decoration: none;
}
    
/* subscribe button to open form - fixed bottom right */
.open-button {
  background-color: #0f7e8f;
  color: white;
  padding: 16px 20px;
  border: none;
  cursor: pointer;
  box-shadow: 2px 2px 4px #726a6a;
  opacity: 0.7;
  position: fixed;
  bottom: 23px;
  right: 28px;
  width: 280px;
}

/* popup form - hidden by default */
.form-popup {
  display: none;
  position: fixed;
  bottom: 0;
  right: 15px;
  border: 3px solid #f1f1f1;
  z-index: 9;
}

/* styles to the form container */
.form-container {
  max-width: 300px;
  padding: 10px;
  background-color: white;
}

.form-container h4, label {
    color: #0f7e8f;
}

/* first and last name input fields */
.form-container input[type=text], .form-container input[type=fname], .form-container input[type=lname] {
  width: 100%;
  padding: 15px;
  margin: 5px 0 22px 0;
  border: none;
  background: #f1f1f1;
}

/* When the inputs get focus, do something */
.form-container input[type=email]:focus, .form-container input[type=email]:focus {
  background-color: #ddd;
  outline: none;
}

/* style for the submit/login button */
.form-container .btn {
  background-color: rgb(15, 126, 143);
  color: white;
  padding: 16px 20px;
  border: none;
  cursor: pointer;
  width: 100%;
  margin-bottom:10px;
  opacity: 0.8;
}

/* green background color for the cancel button */
.form-container .cancel {
  background-color: #fff;
  color: #0f7e8f;
}

/* hover effects to buttons */
.form-container .btn:hover, .open-button:hover {
  opacity: 1;
}

/* section titles, buffer zones*/

.section-title {
    width: 100%;
    height: 26vh;
}

.food {
    background: #0f7e8f;
}

.poi-gap {
    background: linear-gradient(0deg, rgb(15, 126, 143, 0.8) 0%, rgb(15, 126, 143, 0) 100%);
}

.food-gap {
    background: linear-gradient(0deg, rgb(224, 251, 255) 0%, rgba(224, 251, 255, 0) 100%);
}

.food-title-gap {
    background: #e0fbff;
    
}

/* places of interest section layout */

.flex {
    display: flex;
    gap: var(--gap, 1rem);
  }

.grid {
    width: 100vw;
    height: auto;
    display: grid;
    padding: 15% 10%;
    gap: 3rem;
}

.poi-grid {
    background: linear-gradient(0deg, rgb(15, 126, 143) 0%, rgb(15, 126, 143, 0) 100%);
    grid-auto-columns: 2fr 1fr 1fr 2fr;
    grid-template-areas: 
        'terrace-view'
        'rspca-monument'
        'terrace-field'
        'terrace-gate'
        'old-father-thames'
        'bulbous-betty'
        'summer-house'
        'terrace-gardens';   
    padding-block: 2rem;
    width: min (95%, 70rem);
    
}

.food-grid {
    background: linear-gradient(0deg, rgb(33, 215, 216) 0%, rgb(15, 126, 143, 0) 100%);
}

.poi:nth-child(1) {
    grid-area: terrace-view;
}

.poi:nth-child(2) {
    grid-area: rspca-monument;
}

.poi:nth-child(3) {
    grid-area: terrace-field;
    
}

.poi:nth-child(4) {
    grid-area: terrace-gate;
}

.poi:nth-child(5) {
    grid-area: old-father-thames;
}

.poi:nth-child(6) {
    grid-area: bulbous-betty;
}

.poi:nth-child(7) {
    grid-area: summer-house;
}

.poi:nth-child(8) {
    grid-area: terrace-gardens;
}

@media screen and (min-width: 768px) {
    .poi-grid { 
        grid-template-areas: 
        "terrace-view rspca-monument"
        "terrace-field terrace-gate"
        "old-father-thames bulbous-betty"
        "summer-house terrace-gardens";}
}
/*
@media screen and (min-width: 992px) {
    .poi-grid { 
        grid-template-areas: 
        "terrace-view rspca-monument terrace-field" 
        "terrace-gate old-father-thames" 
        "bulbous-betty summer-house terrace-gardens";}
}

@media screen and (min-width: 1200px) {
    .poi-grid { 
        grid-template-areas: 
        "terrace-view rspca-monument terrace-field terrace-gate" 
        "old-father-thames bulbous-betty summer-house terrace-gardens";}
}
*/

/* places of interest item design */

.poi-container {
    font-size: var(--fs-400);
    height: auto;
    width: auto;
    border: #fff;
    border-style:solid;
    border-width: 5px;
    border-radius: 0.2rem;
    background-color: #0f7e8f;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;    
}



.food-container {
    
}

.collapsible {
    height: 50vh;
    width: 100%;
    margin: 0;
    background-color: #777;
    color: white;
    cursor: pointer;
    outline: none;
    border: none;
    text-decoration: none;
    position: relative;
    background-size: cover;
    background-position: center;
}

.poi-name {
    font-weight: 200;
    text-shadow: 2px 2px 14px #726a6a;;
    position: absolute;
    left: 20px;
    bottom: 3px;
    padding: 5px 10px;
    background-color: rgb(15, 126, 143, 0.5);
    color: #fff;
}
  
  .active, .poi-container:hover {
    text-decoration: none;
  }
  
  .content {
    margin: 0;
    padding: 10px 18px;
    display: none;
    overflow: hidden;
    background-color: #fff;
    color: #0f7e8f;
  }

  button:focus {
    border: none;
    outline: none;
 }
/*.......................places of interest images.......*/

.terrace-view {
    background-image: url("../images/view4.jpg");
}

.rspca-monument {
    background-image: url("../images/rspca-monument.jpg");
}

.terrace-field {
    background-image: url("../images/terrace-field.jpg");
}

.summer-house {
    background-image: url("../images/summerhouse1.jpg");
}

.river-thames {
    background-image: url("../images/thames3.jpg");
}

.old-father-thames {
    background-image: url("../images/oldfatherthames2.jpg");
}

.bulbous-betty {
    background-image: url("../images/bulbousbetty2.jpg");
}

.terrace-gardens {
    background-image: url("../images/terracegardens2.jpg");
}



/*.......................................food and accommodation............*/

.food-box {
    width: 100vw;
    height: auto;
    background-color: rgba(228, 212, 212, 0.4);
    display: flex;
    flex-direction:column;
    align-items: center;
    justify-content: center; 
    gap: 3%;

}

.food {
    max-width: 40%;
    height: 250px;
    background-color: rgba(228, 212, 212, 0.4);
}

/*.......................................travel...........................*/

.travel-box {
    width: 100vw;
    height: auto;
    margin: 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.travel {
    width: 66%;
    height: 30vh;
    background-color: #fff;
    border-radius: 5%;
    box-shadow: 0px 0px 5px #aaaaaa;
    margin-bottom: 5vh;
}

/*.........................................footer..........................*/

footer {
    position: absolute;
    width: 100%;
    height: 5vh;
    bottom: 0;
    background-color: #0f7e8f;
    color: #fff;
    display: flex;
    justify-content: center;
    align-items: center;    
    z-index: 100;
    left: 0;
}

footer div a {
    text-transform: none;
    text-decoration: none;
    color: #fff;
    text-shadow: 1px 1px 4px gray;
}

footer div a:hover {
    text-size-adjust: 4em;
    text-shadow: 2px 2px 8px gray;
}

/*.......................subscribe form......................*/



/*.......................responsive small screen settings....*/

@media screen and (max-width: 768px) {
    .logo-img {
        max-height: 10vh;
        left: 0;
    }

    nav {
        height: auto;
        top: 20vh;
        justify-content: space-around;
        padding: 5px;
        
    }

    nav h5 { 
        display: none;    
    }

    

    .fa-solid {
        display: contents;
        margin-right: 50px;
        font-size: 4vw;
        color: rgb(15, 126, 143, 0.8);
        text-align: center;
        
    }
/*
    nav i {
        margin: 0;
        font-size: 5vw;
        color: rgb(15, 126, 143, 0.8);
        padding: 5px 25px;
        text-align: center;
        
    }

    */
    
    .connect {
        display: none;
    }
    
    .title {
        height: 15vh;
        background-color: rgb(240, 248, 255, 0.5);
    }
    
    .title-text {
        padding-top: 4vh;
        font-size: 4em;
        text-align: center;
    }
    
    }

/*.......................................poi light boxes and photos...

.row > .column {
    padding: 0 8px;
  }
  
  .row:after {
    content: "";
    display: table;
    clear: both;
  }
  
  /* Create four equal columns that floats next to eachother 
  .column {
    float: left;
    width: 100%;
  }
  
  /* The Modal (background) 
  .modal {
    display: none;
    position: fixed;
    z-index: 20;
    padding-top: 100px;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: auto;
    background-color: black;
  }
  
  /* Modal Content 
  .modal-content {
    position: relative;
    background-color: #fefefe;
    margin: auto;
    padding: 0;
    width: 90%;
    max-width: 1200px;
  }
  
  /* The Close Button 
  .close {
    color: white;
    position: absolute;
    top: 10px;
    right: 25px;
    font-size: 35px;
    font-weight: bold;
  }
  
  .close:hover,
  .close:focus {
    color: #999;
    text-decoration: none;
    cursor: pointer;
  }
  
  /* Hide the slides by default 
  .mySlides {
    display: none;
  }
  
  /* Next & previous buttons 
  .prev,
  .next {
    cursor: pointer;
    position: absolute;
    top: 50%;
    width: auto;
    padding: 16px;
    margin-top: -50px;
    color: white;
    font-weight: bold;
    font-size: 20px;
    transition: 0.6s ease;
    border-radius: 0 3px 3px 0;
    user-select: none;
    -webkit-user-select: none;
  }
  
  /* Position the "next button" to the right 
  .next {
    right: 0;
    border-radius: 3px 0 0 3px;
  }
  
  /* On hover, add a black background color with a little bit see-through 
  .prev:hover,
  .next:hover {
    background-color: rgba(0, 0, 0, 0.8);
  }
  
  /* Number text (1/3 etc) 
  .numbertext {
    color: #f2f2f2;
    font-size: 12px;
    padding: 8px 12px;
    position: absolute;
    top: 0;
  }
  
  /* Caption text 
  .caption-container {
    text-align: center;
    background-color: black;
    padding: 2px 16px;
    color: white;
  }
  
  img.demo {
    opacity: 0.6;
  }
  
  .active,
  .demo:hover {
    opacity: 1;
  }
  
  img.hover-shadow {
    transition: 0.3s;
  }
  
  .hover-shadow:hover {
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  }

  




.portfolio {
    margin-top: 28vh;
    display: grid;
    height: auto;
    grid-template-rows: repeat(8, 100px);
    grid-template-columns: repeat(5, 1fr);
    grid-gap: 10px;
    padding: 10px;
  }
  
.portfolio-item {
    background: lightcyan;
    color: light-gray;
    font-weight: font-bold;
    display: flex;
    /*justify-content: center;
    align-items: center;
    font-size: 1.5em;
    background-size: cover;
    background-position: top left;
    transition: all ease-in-out 300ms;
    position: relative;
    
  }
    
.portfolio-item.small {
      grid-row: span 1;
      grid-column: span 1;
    }
    
.portfolio-item.medium {
      grid-row: span 2;
      grid-column: span 2;
    }
    
.portfolio-item.large {
      grid-row: span 3;
      grid-column: span 3;
    }
    
.portfolio-item.tall {
      grid-row: span 3;
      grid-column: span 2;
    }
    
.portfolio-item.wide {
      grid-row: span 2;
      grid-column: span 3;
    }
      
.portfolio-item:hover {
      color: white;
      text-shadow: 0 0 5px rgba(0, 0, 0, 0.85);
    }
  
  
  .two {
    background-image: url(//unsplash.it/800/600);
    
    &::before {
      content: '';
      display: block;
      background: $black;
      opacity: 0.8;
      position: absolute;
      top: 0;
      right: 0;
      bottom: 0;
      left: 0;
      transition: all ease-in-out 300ms;
      z-index: -1;
    }
    
    &:hover::before {
      opacity: 0.2;
    }
  }
  


.info {
    background: pink;
    display: flex;
    margin: 0;
    justify-content: center;
    
    
}

.info-card {
    background: lightblue;
    height: auto;
    width: 1fr;
    margin: 0;
    display: flex;
    flex-direction: column;
    padding: 0.5em 3em;
}

.card-title {
    background: antiquewhite;
    color: darkblue;
    margin: 0;
}

.card-img {
    grid-area: img;
    background: pink;

}

.card-title {
    grid-area: title;
    background: lightblue;
}

.card-content {
    grid-area: content;
    background: lightgreen;
}

aside {
    grid-area: sidebar;
    background: darkgrey;
    padding: 1.5em;
}

*/

/*..............................header - brand & socials..*/






    
}

/*................................Welcome Section.........

.welcome {
    background-color: aliceblue;
    min-height: 100vh;
    width: 100vw;
    padding-top: 5vh;
    display: flex;
    flex-direction: column;
}

.welcome div {
    background-color: lightblue;
}

/





/*.............................home section...........

#home {
    margin-top: 5vh;
    display: grid;
    grid-template-rows: 25vh 40vh 30vh;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-areas: ". title ." "see stay go" ". subscribe .";
}




/*.............................pano-view hero image...



/*.............................header logo..........

.logo-nav-subs_container {
    height: 95vh;
    width: 100vw;
    padding: 5px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.logo {
    max-height: 25%;
    max-width: 50%;
    object-fit: scale-down;
}


.home-menu {
    height: 50%;
    width: 100%;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-around;
}

div .menu {
    max-width: 284px;
    padding: 10px 10px 20px 10px;
    border: 1px solid #BFBFBF;
    background-color: white;
    box-shadow: 10px 10px 5px #aaaaaa;
  }




/*..............................Richmond Hill Heading and nav..

h1 {
    text-align: left;
    font-family: tangerine, cursive, sans-serif;
    letter-spacing: 2px;
    text-shadow: 1px 1px 4px gray;
    color: white;
    padding: 10px;
}

#logo {
    float:left;
}

#logo, #menu {
    line-height: 75px;
}

#menu {
    font-size: 110%;
    list-style: none;
    color: white;
}

#menu li {
    float: ;
    margin-right: 40px;
}



.active {
    text-shadow: 2px 2px 8px rgb(85, 128, 94);
}

/*..............................Navigation tiles - Sights, Tastes, & Stays ..

.row {
    display: flex;
  }
  
  .column {
    flex: 33.33%;
    padding: 5px;
  }

#sights-tastes-stay {
    margin: 0;
    display: flex;
    
}

.square-lg {
    list-style-type: none;
    border: 5vw;
    min-width: 20vw;
    min-height: 20vw;
    transition: all .5s ease-in-out;
    -moz-transition: all .5s ease-in-out;
    -webkit-transition: all .5s ease-in-out;
    background-repeat: no-repeat;
    background-size: cover;
}   

#sights {
    background: url("../images/sights.png");
    background-position: center;
    
}

#tastes {
    background: url("../images/tastes.png");
    background-position: center;
}

#ßstay {
    background: url("../images/stay.png");
    background-position: center;
}

/*..............................Hero image and animation..

#hero-image {
    height: 40vh;
    width: 60vw;
}

/*
.subscribe h2 {
    color: #fff;
    text-shadow: 2px 2px 4px #726a6a;
    
    margin: 0;
    text-align: center;
}

.subscribe button {
    border: none;
    color: #0f7e8f;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    text-transform: uppercase;
    box-shadow: 2px 2px 4px #726a6a;
    font-size: 16px;
    margin: 4px 2px;
    cursor: pointer;
}

.subscribe-form {
    display: none;
    position: fixed;
    height: 100vh;
    width: 100vw;
    z-index: 100;

}

*/



