/*..............................Heading and menu..*/

h1 {
    text-align: left;
    font-family: tangerine, cursive, sans-serif;
    letter-spacing: 2px;
    text-shadow: 1px 1px 4px gray;
    color: white;
    padding: 10px;
}

#logo {
    float:left;
}

#logo, #menu {
    line-height: 75px;
}

#menu {
    font-size: 110%;
    list-style: none;
    color: white;
}

#menu li {
    float: right;
    margin-right: 40px;
}

#menu a {
    text-decoration: none;
    color: white;
    text-shadow: 1px 1px 4px gray;
}

#menu a:hover {
    text-shadow: 2px 2px 8px rgb(85, 128, 94);
}

.active {
    text-shadow: 2px 2px 8px rgb(85, 128, 94);
}



/*..............................Hero image and animation..*/

#hero-image {
    height: 40vh;
    width: 60vw;
}

@-webkit-keyframes backgroundScroll {
from {background-position: 0 0;}
to {background-position: -1871px 0;} }

@keyframes backgroundScroll {
from {background-position: 0 0;}
to {background-position: -1871px 0;} }

#view-scroll {
    height: 80vh;
    width: 80vw;
    margin-left: 10vw;
    margin-top: 10vh;
    box-shadow: 5px 10px 8px #888888;
    background: url("../images/view1.jpeg") no-repeat;
    -webkit-animation: backgroundScroll 120s linear infinite;
    animation: backgroundScroll 120s linear infinite;
    object-fit: scale-down;
 }





